/* ----------Variables---------- */
:root {
    --fontFamily: 'Open Sans', sans-serif; 
    --transition: .2s ease;
}
/* ----------basic styles---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #E4E4E4;
    font-family: var(--fontFamily);
}
.wrapper {
    width: 70%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px 20px 20px;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
    color: rgb(0, 102, 204);
    transition: var(--transition);
}
input {
    padding: 5px;
    border:1px solid black;
    border-radius: 5px;
    margin-top: 15px;
}
button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}
button:hover {
    background: white;
    transition: var(--transition);
}
/* ----------topBar---------- */
.topBar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
/* ----------navigation---------- */
.navbar {
    padding-bottom: 0;
    padding-top: 0;
}
.navbar-brand {
    font-size: 40px;
}
.navbar-brand:hover {
    text-decoration: none;
}
#navbarNav {
    transition: height .5s ease;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/* ----------main---------- */
main {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

/* ----------section-sidebar---------- */
.sidebar {
    flex: 0 0 27%;
}

/* ----------section-center---------- */
.center {
    flex: 0 0 67%;
}
/* ----------login.php---------- */
.login-container {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    padding: 10px 30px 10px 30px;
    background: rgb(243, 228, 228);
}
.login-container label {
    font-size: 20px;
}
.login-container label[for="password"] {
    margin-top: 10px;
}
.login-container input {
    padding: 5px;
    border:1px solid black;
    border-radius: 5px;
    width: 100%;
    margin-top: 0;
}
.login-container input[type="button"], .login-container input[type="submit"] {
    width: 40%;
    margin-top: 15px;
    margin-right: 5px;
}
.login-container input[type="button"]:hover, .login-container input[type="submit"]:hover {
    background: white;
    transition: var(--transition);
} 
.login-wrapper {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px 20px 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* ----------media queries---------- */
@media only screen and (max-width: 575px) {
    .wrapper {
        width: 100%;
    }
    .navbar-brand {
        font-size: 36px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .wrapper {
        width: 90%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper {
        width: 80%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1400px) {
    .wrapper {
        width: 80%;
    }
}

@media only screen and (min-width: 1401px) {
    
}


/* classes  */
.classInfo {
    display: inline-block;
    margin: 10px 0px;
    text-align: center;
    border-radius: 5px;
    padding:2px 9px;
}
.classInfoError {
    background-color: red;
    color: white;
}
.classInfoInformation {
    background-color: blue;
    color: white;
}
.classInfoSuccess {
    background-color: green;
    color: white;
}






/* bootstrap fix  */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0;
    padding-left: 0;
}
p {
    margin-bottom: 0;
}
hr {
    margin: 0;
}